<section class="locations-container">
    <section ng-repeat="spot in locations" class="location-card" >
        <div class="image-container">
            <img ng-src="{{spot.image}}" alt="photo of {{spot.city}}">
        </div>
        <div class="location-inner-left">
            <h6> {{spot.city}}</h6>
            <h1>{{spot.country}}</h1>
            <p>{{spot.desc}}</p>
        </div>
        <div class="location-inner-right">
            <h3>Package Start At ${{spot.price}}</h3>
            <button ui-sref="booked({id: {{spot.id}}, from: 'locations' })">Book Now</button>
        </div>
    </section>
</section>
